h1,ol{
    color:red;
}
h3{
    color:chocolate;
    font-style: italic;
}
.a{
    text-decoration:line-through;
}
#a{
    text-decoration: underline;
    
}
.list1{
    line-height:40px ;

}
.list2{
    font-weight: bold;
    letter-spacing: 4px;
    
}
p{
    color: brown;
}
#b{
    color: red;
    background-color:yellow
}
.c{
    background-color:yellow
}